.card {
	max-width: 192px;
	min-height: 288px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 16px;
	background: linear-gradient(white, #fafafa);
	box-shadow: 0 0 8px #ddd;
	text-align: left;
	color: black;
	padding: 1rem;
	font-weight: bold;
	line-height: 24px;
	transition: box-shadow 100ms;
	cursor: pointer;
}

#google-login {
	background: url(/static/assets/google.svg), linear-gradient(white, #fafafa);
}

.card.black {
	background: linear-gradient(#111, #222);
	color: white;
	border: 1px solid #444;
}

.card.black:hover {
	background: #111;
	box-shadow: 0 0 32px #222;
}

.card:hover {
	background: white;
	box-shadow: 0 0 32px #ccc;
}